@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --dark-black: #0d1117;
  --light-black: #1f2022;
}

@media print {
  #download {
    display: none;
  }
}

#download button {
  background: rgb(65, 223, 65);
  color: white;
  padding: 10px 20px;
  width: 100%;
  font-size: 30px;
}

/* Utility classes */
.Yellow {
  color: #ffe194;
}
.Blue {
  color: #b1fffd;
}
.Green {
  color: #80ed99;
}

.bgYellow {
  background-color: #ffb319;
}
.bgBlue {
  background-color: #38a3a5;
}
.bgGreen {
  background-color: #57cc99;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--dark-black);
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: white;
}

#intro {
  padding: 3%;
  background: var(--light-black);
}

.intro__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImg {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
}

.intro-content {
  margin: 0 3%;
}

.intro__contact {
  padding-top: 5%;
  padding-left: 3%;
}

.icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
}

.left,
.right {
  width: 50%;
}

#education,
#work,
#skills,
#interest {
  padding: 3% 7% 0;
  height: 50%;
}

.skillSet,
.interestSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillsItem,
.interestItem {
  padding: 2% 5%;
  width: fit-content;
  color: white;
  border-radius: 25px;
  margin: 4px 0;
  margin-right: 10px;
}

.interestItem {
  background: grey;
}
