@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --dark-black: #0d1117;
  --light-black: #1f2022;
  --grey: #8b949e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-black);
  color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--light-black);
}
.navbar {
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar li {
  list-style-type: none;
  padding: 10px 20px;
}

ul.navbar a {
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav__logo {
  width: 48px;
  height: 48px;
  padding: 20px 20px;
}

#banner {
  width: 100%;
  height: 90%;
  display: flex;
}

.banner-div {
  width: 50%;
  margin-right: 1%;
}

.img-container {
  padding: 7% 4%;
}

.heading {
  margin: 17% 0 4%;
  font-size: 50px;
  color: white;
}

.generate-btn {
  outline: none;
  background: red;
  border: none;
  padding: 13px 22px;
  border-radius: 25px;
  cursor: pointer;
}

.generate-btn a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.generate-btn-outline {
  background: transparent;
  padding: 7px 12px;
  color: red;
  border: 3px solid red;
  border-radius: 25px;
}

.generateBtn__text {
  font-weight: 700;
}

main {
  padding: 1% 15%;
}

/* #position,
#company,
#startDate,
#endDate,
#submitBtn {
  display: block;
  margin: 2%;
  margin-left: -10px;
  padding: 18px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
} */

.work__exp input {
  display: block;
  margin: 2.5%;
  margin-left: -10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

select {
  display: block;
  width: 40%;
  margin: 4% 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.text__inp {
  width: 60%;
}

.label__txt {
  font-size: 19px;
  font-weight: bold;
  color: rgb(248, 96, 96);
}

.text-area {
  background-color: #0d1117;
  /*#1f2022;*/
  outline-width: 10px;
  outline: groove;
  padding: 10px;
  display: flex;
}

.input-area {
  background-color: #1f2022;
  color: white;
}

.para-color {
  color: red;
  font-family: sans-serif;
  text-transform: capitalize;
}
